<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="400px" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title>Time to start a workout!</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-select placeholder="Select exercise" #selectedExercise>
          <mat-option *ngFor="let exercise of (exercises$ | async)" [value]="exercise.id">
            {{exercise.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
          [disabled]="!selectedExercise.value"
          color="primary" mat-raised-button
          (click)="onStart(selectedExercise.value)">Start</button>
    </mat-card-actions>
  </mat-card>
</section>