<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div fxLayout="row wrap" fxLayoutAlign="center">
            <app-header (sidenavToggle)="sidenav.toggle()" fxFlex="100"></app-header>
            <div fxFlex="0 1 calc(100% - 30px)" class="xxx">
                <main>
                    <router-outlet></router-outlet>
                </main>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

